:root {
  --primary-color: #ec1f55;
  --text-color: #333;
  --linear-mix-color: linear-gradient(145deg, rgba(28, 28, 255, 0.6), rgba(47, 47, 47, 0.6), rgba(255, 26, 26, 0.6));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  background: url('https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}


html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: rgba(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  background-image: var(--linear-mix-color);
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: #A9C9FF;
  font-size: 16px;
}

header h2 {
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #cbcbcb;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;


}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;

}


/* PLAYLIST */
.playlist {
  margin-top: 440px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-image: var(--linear-mix-color);
  background-color: rgba(255, 255, 255, 0.5);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.edit-volume {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding: 0 4rem;
}

/* .edit-volume::after{
  content: "";

} */

.range-volume {
  width: 80%;
  -webkit-appearance: none;
  height: 7px;
  background-color: #8a8989;
  outline: none;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
  
}

.range-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;

}

.edit-volume div {
  font-size: 20px;
  color: var(--primary-color);
}